<%= link_to  "action-projet", class:"btn-book animated fadeInUp 
            scrollto text-white bg-red-500 hover:bg-red-400 focus:outline
             focus:ring-4 focus:ring-red-300 font-bold rounded-b-xl rounded-tr-xl text-xl px-5
              py-2.5 text-center mr-2 mb-2" do %>
        <span class="uppercase">Faire un don</span>
      <% end %>

<%= link_to adhesion_path, class:"btn-book animated fadeInUp 
            scrollto text-white bg-red-500 hover:bg-red-400 focus:outline
             focus:ring-4 focus:ring-red-300 font-bold rounded-b-xl rounded-tr-xl text-xl px-5
              py-2.5 text-center mr-2 mb-2" do %>
        <span class="uppercase">Adhérer</span>
      <% end %>