<h1>Editing bemembership</h1>

<%= render "form", bemembership: @bemembership %>

<br>

<div>
  <%= link_to "Show this bemembership", @bemembership %> |
  <%= link_to "Back to bememberships", bememberships_path %>
</div>
