<p style="color: green"><%= notice %></p>

<!-- component -->
<div class="container py-4 px-8 bg-white border rounded-lg my-20">
  <div class="flex justify-center md:justify-end -mt-16">
    <%= image_tag "logo/logo-action.png", class:"w-20 h-20 object-cover rounded-full border-2 border-indigo-500" %>
  </div>
  <div>
    <h2 class="text-gray-800 text-3xl font-semibold">Bienvenue Parmis nous</h2>
    <p class="mt-2 text-gray-600">Votre Adhesion est bien récu!  </p>
    <p class="mt-2 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ass  </p>
  </div>
  <div class="flex justify-end mt-4">
    
    <%= link_to 'Découvrez Nos projets', "action-projet" , class:"text-xl font-medium text-indigo-500" %>
  </div>
</div>


