<!-- ======= About Section ======= -->
    <section id="about" class="about bg-gray-100">
      <div class="container -py-4" data-aos="fade-up">

        <div class="row">
          
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h2 class="section-title text-center font-bold text-4xl px-3">Mot du fondateur</h2>
                
            </div>
    
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <%= image_tag 'media/fondateur.jpg', alt:"President du conseil d'administration Action+" %>
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content ">
            <h3 class="font-bold  text-3xl md:text-4xl">Lorem ipsum dolor commodi cupiditate repellat earum vel voluptates natus ipsa!</h3>
            
            <ul class="mt-4">
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check-circle"></i> ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->