<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Action<sup>+</sup></h3>
              <p>
                Abidjan, Cocody XX <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +225 0700 4500 00<br>
                <strong>Email:</strong> actionplus@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Liens utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Nous découvrir</a></li>
              <li><i class="bx bx-chevron-right"></i> <%#= link_to "Nos Agissons ensemble", agir_path %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to "Conditions d'utilisation", charte_path %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to "Politique de confidentialité", "/vie-privée" %></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Champs d'Action<sup>+</sup></h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contre la faim</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Education</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Electrification</a></li>
              
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Notre Newsletter</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.aboriosam!</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="S'inscrire">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Action<sup class="">+</sup></span></strong>. Tous droits reservé
      </div>
      
    </div>
  </footer><!-- End Footer -->