 <!-- ======= Top Bar ======= -->
  <div id="topbar" class="flex justify-around fixed-top">
    <div class="flex">
      <div class="contact-info flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center ">
          <span><a href="#projets-soutenir" class="font-bold ">Faire un don</a></span>
        </i>
      </div>
      <div class="contact-info flex align-items-center">
        <i class="bi bi-clock d-flex align-items-center ms-4 ">
          <li><%= link_to 'Se Connecter', "action-plus-sign-in", class:"font-bold" %></li>
        </i>
      </div>
    </div>
  </div>