 <!-- ======= Top Bar ======= -->
  <div id="topbar" class="flex justify-around fixed-top">
    <div class="flex">
      <div class="contact-info flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center ">
          <span>
            <%= link_to 'Fait votre don', "donner", class:"font-bold" %>
          </span>
        </i>
      </div>
      <div class="contact-info flex align-items-center">
        <i class="bi bi-clock d-flex align-items-center ms-4 ">
          <li><%= link_to 'Se connecter', "action-plus-sign-in", class:"font-bold" %></li>
        </i>
      </div>
    </div>
  </div>