<div class="w-full lg:w-4/12 px-4">
    <div>
        <div class="
                                  mb-12
                                  bg-primary
                                  rounded
                                  relative
                                  overflow-hidden
                                  text-center
                                  py-[60px]
                                  px-11
                                  lg:px-8
                                  wow
                                  fadeInUp
                                " data-wow-delay=".1s
                                    ">
            <h3 class="font-semibold text-white mb-2 text-2xl">
                Nous Aider a réalisé plus
            </h3>
            <p class="text-base text-white mb-8">
                Enter your email to receive our latest newsletter.
            </p>
            <form>
                <input type="email" placeholder="Your email address" class="
                                              w-full
                                              text-center
                                              h-[50px]
                                              text-sm
                                              font-medium
                                              bg-white bg-opacity-20
                                              placeholder-white
                                              text-white
                                              rounded
                                              mb-4
                                              outline-none
                                              border border-transparent
                                              focus-visible:shadow-none
                                              focus:border-white
                                            "/>
                <input type="submit" value="Subscribe Now" class="
                                          w-full
                                          text-center
                                          h-[50px]
                                          text-sm
                                          font-medium
                                          text-white
                                          rounded
                                          mb-6
                                          bg-[#13C296]
                                          cursor-pointer
                                          hover:shadow-lg hover:bg-opacity-90
                                          transition
                                          duration-300
                                          ease-in-out
                                        "/>
            </form>
            <p class="text-sm font-medium text-white">
                Don't worry, we don't spam
            </p>

            <div>
                <span class="absolute top-0 right-0">
                    <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="1.39737" cy="44.6026" r="1.39737" transform="rotate(-90 1.39737 44.6026)" fill="white" fill-opacity="0.44"/>
                        <circle cx="1.39737" cy="7.9913" r="1.39737" transform="rotate(-90 1.39737 7.9913)" fill="white" fill-opacity="0.44"/>
                        <circle cx="13.6943" cy="44.6026" r="1.39737" transform="rotate(-90 13.6943 44.6026)" fill="white" fill-opacity="0.44"/>
                        <circle cx="13.6943" cy="7.9913" r="1.39737" transform="rotate(-90 13.6943 7.9913)" fill="white" fill-opacity="0.44"/>
                        <circle cx="25.9911" cy="44.6026" r="1.39737" transform="rotate(-90 25.9911 44.6026)" fill="white" fill-opacity="0.44"/>
                        <circle cx="25.9911" cy="7.9913" r="1.39737" transform="rotate(-90 25.9911 7.9913)" fill="white" fill-opacity="0.44"/>
                        <circle cx="38.288" cy="44.6026" r="1.39737" transform="rotate(-90 38.288 44.6026)" fill="white" fill-opacity="0.44"/>
                        <circle cx="38.288" cy="7.9913" r="1.39737" transform="rotate(-90 38.288 7.9913)" fill="white" fill-opacity="0.44"/>
                        <circle cx="1.39737" cy="32.3058" r="1.39737" transform="rotate(-90 1.39737 32.3058)" fill="white" fill-opacity="0.44"/>
                        <circle cx="13.6943" cy="32.3058" r="1.39737" transform="rotate(-90 13.6943 32.3058)" fill="white" fill-opacity="0.44"/>
                        <circle cx="25.9911" cy="32.3058" r="1.39737" transform="rotate(-90 25.9911 32.3058)" fill="white" fill-opacity="0.44"/>
                        <circle cx="38.288" cy="32.3058" r="1.39737" transform="rotate(-90 38.288 32.3058)" fill="white" fill-opacity="0.44"/>
                        <circle cx="1.39737" cy="20.0086" r="1.39737" transform="rotate(-90 1.39737 20.0086)" fill="white" fill-opacity="0.44"/>
                        <circle cx="13.6943" cy="20.0086" r="1.39737" transform="rotate(-90 13.6943 20.0086)" fill="white" fill-opacity="0.44"/>
                        <circle cx="25.9911" cy="20.0086" r="1.39737" transform="rotate(-90 25.9911 20.0086)" fill="white" fill-opacity="0.44"/>
                        <circle cx="38.288" cy="20.0086" r="1.39737" transform="rotate(-90 38.288 20.0086)" fill="white" fill-opacity="0.44"/>
                    </svg>
                </span>
                <span class="absolute bottom-0 left-0">
                    <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="1.39737" cy="44.6026" r="1.39737" transform="rotate(-90 1.39737 44.6026)" fill="white" fill-opacity="0.44"/>
                        <circle cx="1.39737" cy="7.9913" r="1.39737" transform="rotate(-90 1.39737 7.9913)" fill="white" fill-opacity="0.44"/>
                        <circle cx="13.6943" cy="44.6026" r="1.39737" transform="rotate(-90 13.6943 44.6026)" fill="white" fill-opacity="0.44"/>
                        <circle cx="13.6943" cy="7.9913" r="1.39737" transform="rotate(-90 13.6943 7.9913)" fill="white" fill-opacity="0.44"/>
                        <circle cx="25.9911" cy="44.6026" r="1.39737" transform="rotate(-90 25.9911 44.6026)" fill="white" fill-opacity="0.44"/>
                        <circle cx="25.9911" cy="7.9913" r="1.39737" transform="rotate(-90 25.9911 7.9913)" fill="white" fill-opacity="0.44"/>
                        <circle cx="38.288" cy="44.6026" r="1.39737" transform="rotate(-90 38.288 44.6026)" fill="white" fill-opacity="0.44"/>
                        <circle cx="38.288" cy="7.9913" r="1.39737" transform="rotate(-90 38.288 7.9913)" fill="white" fill-opacity="0.44"/>
                        <circle cx="1.39737" cy="32.3058" r="1.39737" transform="rotate(-90 1.39737 32.3058)" fill="white" fill-opacity="0.44"/>
                        <circle cx="13.6943" cy="32.3058" r="1.39737" transform="rotate(-90 13.6943 32.3058)" fill="white" fill-opacity="0.44"/>
                        <circle cx="25.9911" cy="32.3058" r="1.39737" transform="rotate(-90 25.9911 32.3058)" fill="white" fill-opacity="0.44"/>
                        <circle cx="38.288" cy="32.3058" r="1.39737" transform="rotate(-90 38.288 32.3058)" fill="white" fill-opacity="0.44"/>
                        <circle cx="1.39737" cy="20.0086" r="1.39737" transform="rotate(-90 1.39737 20.0086)" fill="white" fill-opacity="0.44"/>
                        <circle cx="13.6943" cy="20.0086" r="1.39737" transform="rotate(-90 13.6943 20.0086)" fill="white" fill-opacity="0.44"/>
                        <circle cx="25.9911" cy="20.0086" r="1.39737" transform="rotate(-90 25.9911 20.0086)" fill="white" fill-opacity="0.44"/>
                        <circle cx="38.288" cy="20.0086" r="1.39737" transform="rotate(-90 38.288 20.0086)" fill="white" fill-opacity="0.44"/>
                    </svg>
                </span>
            </div>
        </div>
    </div>
</div></div>
