<% @title="Les campagnes de financement" %>
    <div class="mb-40">
        <!-- Header -->
        <%= render "welcome/shared/top_bar" %>
        <%= render "welcome/shared/header" %>
    </div>
    <div class="w-full">
        <div class="md:mx-14">
            <h1 class="font-bold text-3xl ">Lorem  sit amet amet consectetur adipisicing  corporis rerum!</h1>

            <div class="mx-20 bg-gray-100 my-14">
                <p class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ullam porro expedita explicabo facilis placeat earum! Iste deserunt et quis impedit quaerat iusto, cum hic dolores non labore, assumenda repellendus.</p>
            </div>
        </div>
    </div>
    <div class="" id="campagnes"                                                                                                                                                                                                                                                                                                                                                                                                                                                                >
        <%= render @campagnes %>
    </div>

<%= render "welcome/shared/footer" %>

