<% @title="Action+ eau potable" %>

<!--Header-->
<%= render "welcome/shared/header" %>


<div class="my-10">
    <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius dignissimos quo accusantium porro nulla? Accusamus debitis eligendi, itaque excepturi laborum iusto vitae, esse non a rem molestiae consequatur. Illo, deleniti.</p>
    <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius dignissimos quo accusantium porro nulla? Accusamus debitis eligendi, itaque excepturi laborum iusto vitae, esse non a rem molestiae consequatur. Illo, deleniti.</p>
    <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius dignissimos quo accusantium porro nulla? Accusamus debitis eligendi, itaque excepturi laborum iusto vitae, esse non a rem molestiae consequatur. Illo, deleniti.</p>
    <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius dignissimos quo accusantium porro nulla? Accusamus debitis eligendi, itaque excepturi laborum iusto vitae, esse non a rem molestiae consequatur. Illo, deleniti.</p>
</div>

<!--Footer-->
<%= render "welcome/shared/footer" %>
