
<% @title="Mot du fondateur" %>
<div
    class="mb-40">
    <!-- Header -->
    <%= render "welcome/shared/top_bar" %>
    <%= render "welcome/shared/header" %>
</div>



<%= render "founders/shared/founder" %>
<%= render "welcome/shared/footer" %>

