<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
     <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
      <div class="flex">
        <h5 class="card-title font-bold">Soutenir Nos Actions</h5>
        <button class="button button-icon button-pink" data-ripple-light="true">
          <i class="material-icons">dashboard</i>
        </button>
      </div>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section Fondateur</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section Nous Aider</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section Sur le Terrain</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section Projet</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section Actualité</h5>
        <div class="space-x-4 bg-gray-100 py-4 text-center">
            <button class="inline-block rounded-md bg-red-500 px-10 py-2 font-semibold text-red-100 shadow-md duration-75 hover:bg-red-400">Cancel</button>
            <button class="inline-block rounded-md bg-green-500 px-6 py-2 font-semibold text-green-100 shadow-md duration-75 hover:bg-green-400">Dashboard</button>
          </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section Benevole</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section Projet</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
     <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section 9</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section 10</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section </h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2 src="..." class="card-img-top h-40 bg-red-200" alt="..."> </h2>
      <div class="card-body">
        <h5 class="card-title">Section Footer </h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>